* {
    border: none;
    border-radius: 3px;
    font-family: 'UbuntuMono Nerd Font', monospace;
    font-size: 20px; 
    min-height: 0;
    padding: 0.25px;
    margin: 0 7px;
    color: #ffffff;
}

window#waybar {
    background-color: rgba(50, 50, 50, 0.9);
    opacity: 0.7;
}

/* workspaces section */
#workspaces button {
    padding: 0 1px;
    color: #ffffff;
    box-shadow: 0 -3px transparent;
    margin: 0px;
}
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    transition-duration: 0s;
    padding: 0 1px;
    margin: 0px; 
}
#workspaces button.focused {
    background-color: #64727D;
    padding: 0 1px;
    margin: 0px;
}
#workspaces button.urgent {
    background-color: #eb4d4b;
    padding: 0 1px;
    margin: 0px;
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}



#mode,
#clock,
#battery,
#battery.charging 
#window,
#cpu,
#memory,
#backlight,
#network,
#network.disconnected,
#pulseaudio,
#pulseaudio.muted,
#temperature,
#tray,
#idle_inhibitor,
#idle_inhibitor.activated,
#custom-power{}


